<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Software Products</h2>
                    <!-- <div class="product-carousel"> -->
                        <div class="row">
                            <div class="single-product col-md-3 col-xs-4" 
                                 style="margin-bottom: 20px" 
                                 ng-repeat="i in products">
                                <div class="product-f-image text-center" ng-init="img=imgUrl + i.image1">
                                    <img ng-src="{{ img }}" alt="">
                                    <div class="product-hover hidden-xs">
                                        <a href="#/product/{{i.ID}}/cart/{{i.slug}}.html" class="add-to-cart-link">
                                            <i class="fa fa-shopping-cart"></i> 
                                            <span class="hidden-xs">Add to cart</span>
                                        </a>
                                        <a href="#/product/{{i.ID}}/{{i.slug}}.html" 
                                            class="view-details-link">
                                            <i class="fa fa-link"></i> 
                                            <span class="hidden-xs">See details</span>
                                        </a>
                                    </div>
                                    <div class="product-hover visible-xs">
                                        <a href="#/product/{{i.ID}}/cart/{{i.slug}}.html" class="add-to-cart-link xs">
                                            <i class="fa fa-shopping-cart"></i> 
                                        </a>
                                        <a href="#/product/{{i.ID}}/{{i.slug}}.html" class="add-to-cart-link xs view" 
                                            style="margin-right:40px">
                                            <i class="fa fa-link"></i> 
                                        </a>
                                    </div>
                                </div>
                                
                                <h2><a href="#/product/{{i.ID}}/{{i.slug}}.html">{{i.nama_produk}}</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>{{i.harga_jual | currency: "Rp " : 0}}</ins> 
                                    <del>{{i.harga_jual | currency: "Rp " : 0}}</del>
                                </div> 
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        

        </div>
    </div>
</div> <!-- End main content area -->