#ts-sidebar-1,#ts-sidebar-2,#ts-sidebar-3,#ts-sidebar-4{
	min-height: 100px;
}
.ts-footer{
	background: #8285E0;
	min-height: 100px;
	margin-top:50px;
}
.ts-footer-1{
	border:2px solid #fff;
	border-radius: 4px;
	margin:10px;
}
.ts-container{
	height: 160%;
}
.ts-label{
	text-align:right;
}
.ts-sidebar-label{
	background:#F8F8F8;
	color:#777;
}
.ts-contacts{
	padding-top:10px;
}
#no-border{
	border: 0px solid;
}
.ts-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
	padding:10px 5px;
}
.ts-image-preview{
	margin-left: 10px;
	border:1px solid #C5C5C5;
	width:60px;
	height: 60px;
	float:left;
	position: relative;
    overflow: hidden;
}